.auth-callback {
  min-height: 100vh;
  background: linear-gradient(0deg, #fff 50%, ghostwhite 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  .warning {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 30px 30px -5px #0000001a;
    animation: slide_in 0.4s ease backwards;
    transition: 0.3s;

    span.material-icons {
      font-size: 50px;
      color: #f9982d;
      padding: 30px 40px;
      padding-bottom: 10px;
      user-select: none;
    }

    p {
      color: #525252;
      font-size: 14px;
      max-width: 250px;
      margin: 0px;
      padding: 0px 40px;
    }

    button {
      cursor: pointer;
      border: unset;
      width: 100%;
      font-weight: bold;
      padding: 20px 40px;
      margin-top: 30px;
      border-radius: 0px 0px 5px 5px;
      background: linear-gradient(45deg, #ff9800, #ff5722);
      color: #fff;
      display: flex;
      align-items: center;
      transition: 0.3s;

      span {
        font-size: 16px;
        color: inherit;
        padding: 0px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .auth-callback {
    height: 100vh;
    min-height: unset;

    .warning {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      button {
        margin-top: auto;
        border-radius: unset;
      }
    }
  }
}
