.search-bar {
  margin-left: 40px;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 30px 30px -5px #0000001a;
  animation: slide_in 0.4s ease 0.2s backwards;
  overflow: hidden;

  header {
    padding: 20px 30px;
    background: #525252;
    border-radius: 10px 10px 0px 0px;
    
    h2 {
      color: #fff;
      margin: 0px;
      font-size: 18px;
      
      span {
        font-weight: 100;
      }
    }
  }

  div {
    display: flex;
  }

  input {
    height: 45px;
    width: 100%;
    border: unset;
    outline: none;
    padding: 5px 30px;
    transition: 0.3s;
  }

  input:focus {
    background: #fbfbfb;
  }

  button {
    padding: 5px 25px;
    outline: none;
    background: #f4f4f4;
    border: unset;
    transition: 0.3s;
    border-radius: unset;
  }

  button:hover {
    cursor: pointer;
    background: #383838;
    color: #fff;
  }
}
