.search-bar {
  margin-left: 40px;
  margin-bottom: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -5px #0000001a;
  animation: slide_in 0.4s ease 0.2s backwards;
  overflow: hidden;

  header {
    padding: 15px 30px;
    background: #61a2f1;
    border-radius: 10px 10px 0px 0px;

    h2 {
      color: #fff;
      margin: 0px;
      font-size: 18px;

      span {
        font-weight: 100;
      }
    }
  }

  div {
    display: flex;
  }

  input {
    height: 45px;
    width: 100%;
    border: unset;
    outline: none;
    padding: 5px 30px;
    transition: 0.3s;
    border-radius: unset;
  }

  input:focus {
    background: #558ed4;
    color: #fff;
  }

  input:focus::placeholder {
    color: #fff;
  }

  button {
    padding: 5px 25px;
    outline: none;
    background: #f4f4f4;
    border: unset;
    transition: 0.3s;
    border-radius: unset;
  }

  button:hover {
    cursor: pointer;
    background: #525252;
    color: #fff;
  }
}

@media only screen and (max-width: 900px) {
  .search-bar {
    margin: 0px;
    box-shadow: unset;
    border-radius: unset;
    margin-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;

    header {
      border-radius: unset;
    }
  }
}
